<!-- contact -->

<div class="container pwetty fluid">
     <div class="row">
            <div class="col-sm">
              <h2 class="rain">Made by the biggest yeet boys: Jarne Joey and Lennert.</h2>
            </div>
          </div>
          <div class="row">
        <div class="col-sm">
    <form action="/action_page.php">
      <label for="fname">First Name</label><br>
      <input type="text" id="fname" name="firstname" placeholder="Your name.."><br>
      
      <label for="lname">Last Name</label><br>
      <input type="text" id="lname" name="lastname" placeholder="Your last name.."><br><br>
      
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea><br>
      <input type="submit" value="Submit"><br><br>
    </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="https://i.kym-cdn.com/entries/icons/original/000/028/021/work.jpg">
        </div>
      </div>
  </div>
  
