<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col"><a routerLink="home">home</a></div>
    <div class="col"><a routerLink="about">about</a></div>
    <div class="col"><a routerLink="contact">contact</a></div> -->
    <a routerLink="home">home </a>
    <a routerLink="about">Favie </a>
    <a routerLink="contact">contact </a>
  </div>
  <router-outlet></router-outlet>
  <hr>
  <div class="text-center">Copyright Soviet Union &copy; 2020</div>
</div>
